/* background-color: #e0a819; */


  nav{
    border : solid;
    background-color: #e0a819;
    position: fixed;
    top: 50%;
    right: 0px;
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-bottom-left-radius: 110px;
    padding: 1%; 
    padding-right:0%;
   
  }
  .navbar-menu{
    display: flex;
    flex-direction: column;

  }
  .navbar-menu a{
    text-align: right;
    font-size: 1.2em;
    margin: 2%; 
    padding: 0;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  #sidenav > div > a:nth-child(1){
    border-top-left-radius: 110px;
  }
  #sidenav > div > a:nth-child(6){
    border-bottom-left-radius: 110px;

  }