<nav id="sidenav" (scroll)="onScroll($event)">



  <div class="navbar-menu">

    <a class="navbar-item" (click)="onClick('home')">Startseite</a>
    <a class="navbar-item" (click)="onClick('2')">Personalanfrage</a>
    <a class="navbar-item" (click)="onClick('3')">Bekleidung</a>
    <a class="navbar-item" (click)="onClick('4')">Bewerbungsformular</a>
    <a class="navbar-item" (click)="onClick('5')">expo Vita</a>

  </div>
  <div class = "navbar-img">
    <img src="./assets/svg/shape6.svg" width="500px" > 
  </div>

  </nav>