<nav id="sidenav" (scroll)="onScroll($event)">



  <div class="navbar-menu">

    <a class="navbar-item" (click)="onClick('1')">Alles auf einen Blick...</a>
    <a class="navbar-item" (click)="onClick('2')">Was wir für Sie tun können...</a>
    <a class="navbar-item" (click)="onClick('3')">Hostessen & Servicepersonal</a>
    <a class="navbar-item" (click)="onClick('4')">Veranstaltungslogistik</a>
    <a class="navbar-item" (click)="onClick('5')">Wer wir sind...</a>
    <a class="navbar-item" (click)="onClick('6')">Referenzen</a>

  </div>

  </nav>