<nav id="sidenav" (scroll)="onScroll($event)" *ngIf="isOn">



  <div class="navbar-menu">

    <a class="navbar-item" (click)="navTo('home')">Startseite</a>
    <a class="navbar-item" (click)="navTo('pers')">Personalanfrage</a>
    <a class="navbar-item" (click)="navTo('bekleid')">Bekleidung</a>
    <a class="navbar-item" (click)="navTo('bewerb')">Bewerbungsformular</a>
    <a class="navbar-item" (click)="navTo('datenschutz')">Datenschutzerklärung</a>

  </div>
  <div class = "navbar-img">
    <img src="./assets/svg/shape6.svg" width="500px" > 
  </div>

  </nav>