/* background-color: #e0a819; */


  nav{
    background-color: #e0a819;
    top: 0px;
    width: 100%;
    padding-right: 0%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 8.7%;
    position: relative;

  }
  .navbar-menu{
    display: flex;
    flex-direction: row;

  }
  .navbar-menu a{
    
    
    text-align: right;
    font-size: 1.2em;
    padding-left: 52px;
    margin: auto;
}
  

  .navbar-img{
    flex-direction: row;
  }
  
  a:hover {
    /* background-color: rgba(243, 235, 235, 0.8); */
        color: black;
  }
  

  