<app-header></app-header>

<div class="divContainer" *ngIf="router.url == '/form/2'">
    <form class="example-form" [formGroup]="bekleiForm">
        <mat-panel-title class="mainheader">
            Bekleidung
        </mat-panel-title>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Vorname" (change)="onChange(bekleiForm)"
                            formControlName="Vorname">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nachname" (change)="onChange(bekleiForm)"
                            formControlName="Nachname">
                    </mat-form-field>
                </td>
            </tr>
        </table>



        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <!-- <texra matInput placeholder="Adresse" formControlName="city"> -->
                        <textarea matInput placeholder="Adresse" (change)="onChange(bekleiForm)"
                            formControlName="Adresse"></textarea>
                    </mat-form-field>

                </td>

                <td>
                    <mat-form-field class="example-full-width">
                        <!-- <texra matInput placeholder="Adresse" formControlName="city"> -->
                        <input matInput placeholder="Email" (change)="onChange(bekleiForm)" formControlName="Email">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Ort" formControlName="Ort" (change)="onChange(bekleiForm)">
                    </mat-form-field>
                </td>
                <!-- <td><mat-form-field class="example-full-width">
                    <input matInput placeholder="State">
                  </mat-form-field></td> -->
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput #postalCode maxlength="5" placeholder="PLZ" (change)="onChange(bekleiForm)"
                            formControlName="PLZ">
                        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <mat-accordion class="example-headers-align">
            <mat-expansion-panel (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Etuikleid
                    </mat-panel-title>
                    <mat-panel-description>
                        Größen: 34 - 44

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field>
                    <input matInput placeholder="gewünschte Größe" formControlName="kleidsize">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="number" min="1" placeholder="Anzahl" formControlName="kleidamount">
                </mat-form-field>
                <div class="clothImages">
                    <img matPrefix src="./assets/etuiklei.png" height="400px">
                </div>


                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Zurück</button>
                    <button mat-button color="primary" (click)="nextStep()">Weiter</button>
                </mat-action-row>


            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Hosenanzug
                    </mat-panel-title>
                    <mat-panel-description>
                        Größen: XS - XL
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <input matInput placeholder="gewünschte Größe" formControlName="hosesize">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="number" min="1" placeholder="Anzahl" formControlName="hoseamount">
                </mat-form-field>
<!-- 
                <div class="clothImages">
                    <img matPrefix src="./assets/kostum.png" height="400px">
                </div> -->
                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Zurück</button>
                    <button mat-button color="primary" (click)="nextStep()">Weiter</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Kostüm
                    </mat-panel-title>
                    <mat-panel-description>
                        Größen: XS - XL

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field>
                    <input matInput placeholder="gewünschte Größe" formControlName="kostumsize">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="number" min="1" placeholder="Anzahl" formControlName="kostumamount">
                </mat-form-field>
                <div class="clothImages">
                    <img matPrefix src="./assets/kostum.png" height="400px">
                </div>

                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Zurück</button>
                    <button mat-button color="primary" (click)="nextStep()">Weiter</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Bluse
                    </mat-panel-title>
                    <mat-panel-description>
                        Größen: XS - XL
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <input matInput placeholder="gewünschte Größe" formControlName="blusesize">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="number" min="1" placeholder="Anzahl" formControlName="bluseamount">
                </mat-form-field>
                <div class="clothImages">
                    <img matPrefix src="./assets/bluse.png" height="400px">
                </div>
                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Zurück</button>
                    <button mat-button color="primary" (click)="nextStep()">Weiter</button>
                </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Bluse 1
                    </mat-panel-title>
                    <mat-panel-description>
                        Größen: XS - XL
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <input matInput (change)="onChange" placeholder="gewünschte Größe" formControlName="bluse1size">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="number" min="1" placeholder="Anzahl" formControlName="bluse1amount">
                </mat-form-field>
                <div class="clothImages">
                    <img matPrefix src="./assets/bluse.png" height="400px">
                </div>


                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Zurück</button>
                </mat-action-row>
            </mat-expansion-panel>

        </mat-accordion>

        <section class="example-section" *ngIf="isFilled">
            <mat-checkbox *ngIf="isFilled" [checked]="showDetails"  (change)="onChecked(showDetails)">Wünschen Sie Personal für ihre Veranstaltung? </mat-checkbox>
        </section>
        <div *ngIf="showDetails" >  
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Name der Veranstaltung" (change)="onChange(personForm)"
                                formControlName="Name_der_Veranstaltung">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Ort der Veranstaltung" (change)="onChange(personForm)" formControlName="Ort_der_Veranstaltung">
                        </mat-form-field>
    
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput [matDatepicker]="picker" placeholder="Von " formControlName="von_Datum">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput [matDatepicker]="picker1" placeholder="Bis" formControlName="bis_Datum">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </td>
    
                </tr>
            </table>

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Anzahl an Hosts?" (change)="onChange(bekleiForm)"
                                formControlName="host"  type="number">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Anzahl an Hostessen?" (change)="onChange(bekleiForm)"
                                formControlName="hostess"  type="number">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <textarea matInput  #currentChars placeholder="Zeiten Planung" (change)="onChange(personForm)"
                                formControlName="Zeiten_Planung"></textarea>
                                <mat-hint align="end">Angaben mit Datum und Uhrzeit </mat-hint>
                        </mat-form-field>
    
                    </td>
    
    
                </tr>

            </table>


            <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Zusätzliche Anmerkungen" (change)="onChange(personForm)"
                                    formControlName="Zusätzliche_Anmerkungen"></textarea>
                            </mat-form-field>
                        </td>
                    </tr>
                   
            </table>

           

        </div>


    </form>

    <button (click)="onSubmit()" mat-flat-button color="primary">Abschicken</button>




</div>

<div class="divContainer1" *ngIf="router.url == '/form/3'">
    <form class="example-form" [formGroup]="bewerbForm">
        <mat-panel-title class="mainheader">
            Bewerbungsformular
        </mat-panel-title>
        <div class="yolo">
            <h4>Persönliche Daten: </h4>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Vorname" formControlName="Vorname">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nachname" formControlName="Nachname">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Straße" formControlName="Strasse" >
                        </mat-form-field>
                    </td>
                  
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Hausnummer" formControlName= "Hausnummer">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Ort" formControlName="Ort">
                        </mat-form-field>
                    </td>
              
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput #postalCode maxlength="5" placeholder="PLZ" formControlName="PLZ">
                            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Telefon" formControlName="Telefon">
                        </mat-form-field>
                    </td>
                  
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" formControlName="Email">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput  formControlName="Körpergröße"  placeholder="Körpergröße">
    
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput  formControlName="konfektion" placeholder="Konfektionsgröße">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput type="number" min="1" placeholder="Schuhgröße" formControlName="schuhgröße">
                        </mat-form-field>
                    </td>
                </tr>
    
            </table>
        </div>
        <div class="yolo">
            <h4>Berufsausbildung: </h4>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Studium" formControlName= "Studium">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput type="number" min="1" placeholder="Semester" formControlName="Semester">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Abschlussjahr" formControlName="Abschlussjahr"> 
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <div class="radioContainer">
                <label id="example-radio-group-label">Führerschein:</label>

                <mat-radio-group class="example-radio-group" formControlName="Fuehrerschein" >
                    <!-- (click)="multiple(button)" -->
                    <mat-radio-button class="example-radio-button" value="Pkw" >PKW</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="LKW"> LKW/Bus </mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="Motorad"> Motorrad </mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="kein Führerschein"> Kein Führerschein </mat-radio-button>

                </mat-radio-group>

            </div>
            <div class="radioContainer">
                <label id="example-radio-group-label" >Eigener PKW: </label>

                <mat-radio-group class="example-radio-group" formControlName="pkw">
                    <mat-radio-button class="example-radio-button" value="Ja">Ja</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="Nein"> Nein </mat-radio-button>


                </mat-radio-group>

            </div>
            <div class="radioContainer">
                <label id="example-radio-group-label" >Gesundheitszeugnis:</label>

                <mat-radio-group class="example-radio-group" formControlName="Gesundheitszeugnis">
                    <mat-radio-button class="example-radio-button" value="Ja">Ja</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="Nein"> Nein </mat-radio-button>



                </mat-radio-group>
            </div>
            <div class="radioContainer">
                <label id="example-radio-group-label" >Semesterticket</label>

                <mat-radio-group class="example-radio-group" formControlName="Semesterticket">
                    <mat-radio-button class="example-radio-button" value="Ja">Ja</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="Nein"> Nein </mat-radio-button>



                </mat-radio-group>
            </div>
            <h4>Sprachkenntnisse: </h4>
            <div class="radioContainer">
                <label id="example-radio-group-label">Englisch:</label>

                <mat-radio-group class="example-radio-group" formControlName="Englisch">
                    <mat-radio-button class="example-radio-button" value="sehr gut">sehr gut</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="schlecht"> schlecht </mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="Muttersprache"> Muttersprache </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="radioContainer">
                <label id="example-radio-group-label">Französich:</label>

                <mat-radio-group class="example-radio-group" formControlName="Franzoesich">
                    <mat-radio-button class="example-radio-button" value="sehr gut">sehr gut</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="schlecht"> schlecht </mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="Muttersprache"> Muttersprache </mat-radio-button>



                </mat-radio-group>
            </div>
            <div class="radioContainer">
                <label id="example-radio-group-label">Spanisch:</label>

                <mat-radio-group class="example-radio-group" formControlName="Spanisch">
                    <mat-radio-button class="example-radio-button" value="sehr gut">sehr gut</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="schlecht"> schlecht </mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="Muttersprache"> Muttersprache </mat-radio-button>


                </mat-radio-group>
            </div>
            <div class="radioContainer">
                <label id="example-radio-group-label">Türkisch:</label>

                <mat-radio-group class="example-radio-group" formControlName="Tuerkisch">
                    <mat-radio-button class="example-radio-button" value="1">sehr gut</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="2"> schlecht </mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="Muttersprache"> Muttersprache </mat-radio-button>


                </mat-radio-group>
            </div>
            <div class="radioContainer">
                <label id="example-radio-group-label">Persisch:</label>

                <mat-radio-group class="example-radio-group" formControlName="Persisch">
                    <mat-radio-button class="example-radio-button" value="sehr gut">sehr gut</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="sehr gut"> schlecht </mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="Muttersprache"> Muttersprache </mat-radio-button>


                </mat-radio-group>
            </div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Sonstiges*" formControlName="Sonstiges">
                <mat-hint align="end">*Mehrfachnennung möglich</mat-hint>
            </mat-form-field>
        </div>
        <h4>Arbeiten Sie regelmäßig für andere Agenturen ?
            <div class="radioContainer">
                <!-- <label id="example-radio-group-label"> 	Arbeiten Sie regelmäßig für andere Agenturen ? </label> -->

                <mat-radio-group class="example-radio-group" formControlName="Andere_Agenturen">
                    <mat-radio-button class="example-radio-button" value="ja">ja</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="nein">nein</mat-radio-button>


                </mat-radio-group>
            </div>
        </h4>
        <h4> Kongress-, Service- oder Veranstaltungseinsätze: </h4>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <label>Promotion</label>
                </td>
                <td>
                <td>
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="Veranstaltung" formControlName="Veranstaltung">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Agentur+Stadt" formControlName="Agentur_Stadt">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" min="1" placeholder="Monate" formControlName="Monate">
                        <mat-hint align="end">Dauer</mat-hint>


                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" min="1" placeholder="Jahr" formControlName="Jahr">

                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Messe</label>
                </td>
                <td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Veranstaltung" formControlName="Veranstaltung1">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Agentur+Stadt" formControlName="Agentur_Stadt1">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" min="1" placeholder="Monate" formControlName="Monate1">
                        <mat-hint align="end">Dauer</mat-hint>


                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" min="1" placeholder="Jahr" formControlName="Jahr1">

                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Konferenz</label>
                </td>
                <td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Veranstaltung" formControlName="Veranstaltung2">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Agentur+Stadt" formControlName="Agentur_Stadt2">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" min="1" placeholder="Monate" formControlName="Monate2">
                        <mat-hint align="end">Dauer</mat-hint>


                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" min="1" placeholder="Jahr" formControlName="Jahr2">

                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Verkauf</label>
                </td>
                <td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Veranstaltung" formControlName="Veranstaltung3">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Agentur+Stadt" formControlName="Agentur_Stadt3">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" min="1" placeholder="Monate" formControlName="Monate3">
                        <mat-hint align="end">Dauer</mat-hint>


                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" min="1" placeholder="Jahr" formControlName="Jahr3">

                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Moderation</label>
                </td>
                <td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Veranstaltung" formControlName="Veranstaltung4">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Agentur+Stadt" formControlName="Agentur_Stadt4">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" min="1" placeholder="Monate" formControlName="Monate4">
                        <mat-hint align="end">Dauer</mat-hint>


                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" min="1" placeholder="Jahr" formControlName="Jahr4">

                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Gastronomie
                        /Catering</label>
                </td>
                <td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Veranstaltung" formControlName="Veranstaltung5">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Agentur+Stadt" formControlName="Agentur_Stadt5">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" min="1" placeholder="Monate" formControlName="Monate5">
                        <mat-hint align="end">Dauer</mat-hint>


                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" min="1" placeholder="Jahr" formControlName="Jahr5">

                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Model/Laufsteg</label>
                </td>
                <td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Veranstaltung" formControlName="Veranstaltung6">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Agentur+Stadt" formControlName="Agentur_Stadt6">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" min="1" placeholder="Monate" formControlName="Monate6">
                        <mat-hint align="end">Dauer</mat-hint>


                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" min="1" placeholder="Jahr" formControlName="Jahr6">

                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Fahrerfahrung
                        (7,5t LKW)</label>
                </td>
                <td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Veranstaltung" formControlName="Veranstaltung7">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Agentur+Stadt" formControlName="Agentur_Stadt7">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" min="1" placeholder="Monate" formControlName="Monate7">
                        <mat-hint align="end">Dauer</mat-hint>


                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" min="1" placeholder="Jahr" formControlName="Jahr7">

                    </mat-form-field>
                </td>
            </tr>

        </table>
        <h4>Teamleitungs-/Chefhostessen- etc. erfahrung und/oder besondere Fähigkeiten </h4>
        <mat-form-field class="example-full-width" >
            <textarea matInput formControlName="teamleitung"></textarea>

        </mat-form-field>
        <h4>Wie haben Sie von unserem Unternehmen erfahren ? * </h4>
        <mat-form-field class="example-full-width">
            <textarea matInput formControlName="wieerfahren"></textarea>

        </mat-form-field>
        <h4>Sonstige Angaben:</h4>
        
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <div class="radioContainer">
                        <!-- <label id="example-radio-group-label"> 	Arbeiten Sie regelmäßig für andere Agenturen ? </label> -->
                        <label id="example-radio-group-label">Gewerbeschein:</label>
                        <mat-radio-group class="example-radio-group" formControlName="GewerbescheinJaNein">
                            <mat-radio-button class="example-radio-button" value="ja">ja</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="nein">nein</mat-radio-button>
        
        
                        </mat-radio-group>
                    </div>

                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Steuernummer oder Steuer ID" formControlName="Steuernummer">

                    </mat-form-field>
                </td>
            </tr>
        </table>


    </form>


<button (click)="onSubmit()" mat-flat-button color="primary">Abschicken</button>

</div>


<div class="divContainer1" *ngIf="router.url == '/form/1'">
    <form class="example-form" [formGroup]="personForm">
        <mat-panel-title class="mainheader">
            Personalanfrage
        </mat-panel-title>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Veranstaltungname" (change)="onChange(personForm)"
                            formControlName="Name_der_Veranstaltung">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Veranstaltungsort" (change)="onChange(personForm)" formControlName="Ort_der_Veranstaltung">
                    </mat-form-field>

                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker" placeholder="von " formControlName="von_Datum">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker1" placeholder="bis" formControlName="bis_Datum">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </td>

            </tr>
        </table>
        
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Anzahl an Hostessen" (change)="onChange(bekleiForm)"
                            formControlName="hostess"  type="number">
                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Anzahl an Hosts" (change)="onChange(bekleiForm)"
                            formControlName="host"  type="number">
                    </mat-form-field>
                </td>
                
                <td>
                    <mat-form-field class="example-full-width">
                        <textarea matInput  #currentChars placeholder="Personalzeiten" (change)="onChange(personForm)"
                            formControlName="Zeiten_Planung"></textarea>
                            <mat-hint align="end">Angaben mit Datum und Uhrzeit</mat-hint>
                    </mat-form-field>

                </td>


            </tr>
        </table>
        <table class="example-full-width" cellspacing="0">

            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Zusätzliche Anmerkungen" (change)="onChange(personForm)"
                            formControlName="Zusätzliche_Anmerkungen"></textarea>
                    </mat-form-field>
                </td>
            </tr>

        </table>



        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Firmenname" (change)="onChange(personForm)"
                            formControlName="Firmen_Name">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Telefon" type="number" (change)="onChange(personForm)" formControlName="Telefon">
                    </mat-form-field>

                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email" (change)="onChange(personForm)" formControlName="Email">
                    </mat-form-field>

                </td>
            </tr>
        </table>
         
        
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Vorname" (change)="onChange(personForm)"
                            formControlName="Vorname">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nachname" (change)="onChange(personForm)"
                            formControlName="Nachname">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        

       
        <section class="example-section">
            <mat-checkbox *ngIf="isFilled" [checked]="showDetails" (change)="onChecked(showDetails)"> Wünschen Sie
                Bekleidung für ihr Personal? </mat-checkbox>
        </section>
        <!-- *ngIf="isFilled" -->
        <div *ngIf="showDetails" >

            <mat-accordion class="example-headers-align">
                <mat-expansion-panel (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Etuikleid
                        </mat-panel-title>
                        <mat-panel-description>
                            Größen: 34 - 44

                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-form-field>
                        <input matInput placeholder="gewünschte Größe" formControlName="kleidsize">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="number" min="1" placeholder="Anzahl" formControlName="kleidamount">
                    </mat-form-field>
                    <div class="clothImages">
                        <img matPrefix src="./assets/kleid.jpg" height="400px">
                    </div>


                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Zurück</button>
                        <button mat-button color="primary" (click)="nextStep()">Weiter</button>
                    </mat-action-row>


                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Hosenanzug
                        </mat-panel-title>
                        <mat-panel-description>
                            Größen: XS - XL
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field>
                        <input matInput placeholder="gewünschte Größe" formControlName="hosesize">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="number" min="1" placeholder="Anzahl" formControlName="hoseamount">
                    </mat-form-field>


                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Zurück</button>
                        <button mat-button color="primary" (click)="nextStep()">Weiter</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Kostüm
                        </mat-panel-title>
                        <mat-panel-description>
                            Größen: XS - XL

                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-form-field>
                        <input matInput placeholder="gewünschte Größe" formControlName="kostumsize">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="number" min="1" placeholder="Anzahl" formControlName="kostumamount">
                    </mat-form-field>


                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Zurück</button>
                        <button mat-button color="primary" (click)="nextStep()">Weiter</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Bluse
                        </mat-panel-title>
                        <mat-panel-description>
                            Größen: XS - XL
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field>
                        <input matInput placeholder="gewünschte Größe" formControlName="blusesize">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="number" min="1" placeholder="Anzahl" formControlName="bluseamount">
                    </mat-form-field>
                    <div class="clothImages">
                        <img matPrefix src="./assets/bluse.jpg" height="400px">
                    </div>

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Zurück</button>
                        <button mat-button color="primary" (click)="nextStep()">Weiter</button>
                    </mat-action-row>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Bluse 1
                        </mat-panel-title>
                        <mat-panel-description>
                            Größen: XS - XL
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field>
                        <input matInput (change)="onChange" placeholder="gewünschte Größe" formControlName="bluse1size">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="number" min="1" placeholder="Anzahl" formControlName="bluse1amount">
                    </mat-form-field>
                    <div class="clothImages">
                        <img matPrefix src="./assets/bluse.jpg" height="400px">
                    </div>

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Zurück</button>
                    </mat-action-row>
                </mat-expansion-panel>

            </mat-accordion>

        </div>

    </form>

    <button (click)="onSubmit()" mat-flat-button color="primary">Abschicken</button>

</div>





<router-outlet></router-outlet>