h2{
  
  text-align: center;
}
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
 div{
    margin : 4%;
  }

   object{
    display: block;
    margin-left: auto;
    margin-right: auto

  }
  @media(min-width: 1300px){
  .articleswrapper{
    width: 77%;

  }
}

  
     a{
      margin:1%;
      background-color: #e0a819;
      font-size: 1.5em;
      font-style: italic;
    }
    
  
    mat-grid-tile{
      border :solid
    }
    figure:hover {
      background-color: #ddd;
      color: black;
    }