



<div class="articleswrapper" (scroll)="onScroll($event)">
    
    

  <div id="1">
      <h2> Alles auf einen Blick...</h2>
      <mat-grid-list cols="3" rowHeight="150px" gutterSize = 0px>
          <mat-grid-tile
              
              *ngFor="let tile of tiles"
              [colspan]="tile.cols"
              [rowspan]="tile.rows"
              [style.background]="tile.color">
              
                  <a>{{tile.text}}</a>
                  <div *ngIf="tile.text === 'Bilder'">
                    <img [src]="tile.pic" />
                     
        
                  </div>
          </mat-grid-tile>
        </mat-grid-list>
        <!-- (mouseenter)="onChangeTilePic(tile.text)" -->
 
  </div>
  <div id="2">
    <h2> Was wir für Sie tun können...</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <br>
      sed diam nonumy eirmod tempor invidunt ut labore et dolore <br>
      magna aliquyam erat, sed diam voluptua. <br>
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, <br>
      no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, <br>
      consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, <br>
      sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
      takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
  </div>
  <div id="3">
    <h2> Hostessen & Servicepersonal</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <br>
      sed diam nonumy eirmod tempor invidunt ut labore et dolore <br>
      magna aliquyam erat, sed diam voluptua. <br>
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, <br>
      no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, <br>
      consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, <br>
      sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
      takimata sanctus est Lorem ipsum dolor sit amet.
    </p>

  </div>
  <div id="4">
    <h2> Veranstaltungslogistik</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <br>
      sed diam nonumy eirmod tempor invidunt ut labore et dolore <br>
      magna aliquyam erat, sed diam voluptua. <br>
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, <br>
      no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, <br>
      consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, <br>
      sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
      takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
  </div>
  <div id="5">
    <h2> Wer wir sind...</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <br>
      sed diam nonumy eirmod tempor invidunt ut labore et dolore <br>
      magna aliquyam erat, sed diam voluptua. <br>
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, <br>
      no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, <br>
      consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, <br>
      sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
      takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
  </div>
  <div id="6">
    <h2> Referenzen</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <br>
      sed diam nonumy eirmod tempor invidunt ut labore et dolore <br>
      magna aliquyam erat, sed diam voluptua. <br>
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, <br>
      no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, <br>
      consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, <br>
      sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
      takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
  </div>
</div>