
  .content {
    background-color: rgb(113, 112, 112);
    background-image: url("/assets/svg/shape1.svg");
    height: 100%;

  }

  
  .basic-container {
    margin-top : 50px;
  
  }
  
  object{
    display: block;
    margin-left: auto;
    margin-right: auto

  }

