  <app-landing-section></app-landing-section>


<div class="mat-app-background basic-container">
  <app-header></app-header>
</div>


<div class="content" role="main">

  <!-- Highlight Card -->
  <!-- <div class="card highlight-card card-small"> -->
  
<!-- 
<object data="assets/svg/shape6.svg" type="image/svg+xml" >
  <img src="assets/svg/shape6.svg" alt="expo Service ">
  </object> -->

  <main-component></main-component>


 
</div>


  <info-footer></info-footer>




<!-- 
<router-outlet></router-outlet> -->