
  .mainmenu{
    background-color: #CCC;
    text-decoration: none;
    color: #000;
    width: 25%;
    order: 1;


}

div.round-button-container{
  border-radius: 50%;
  width: 100%;
  height: auto;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  top: 179px;
  height: 548px;
  width: 534px;
  left: 35.6%;
  font-size: 1.2em;
}
div.round-button-container > div{ 
  width: 50%;
   height: 280px; 
   float: left;
   margin: auto; 
   position: relative;
   
  }

   div.landingcontent > div > div:nth-child(1) > p{
    padding-top: 77px;
  
  padding-left: 77px;
}
div.landingcontent > div > div:nth-child(2) > p{
  padding-top: 77px;
  
  padding-left: 26px;
}

div.landingcontent > div > div:nth-child(3) > p{
  bottom: 77px;
  padding-left: 53px;

}
div.landingcontent > div > div:nth-child(4) > p{
  bottom: 77px;
  
  padding-left: 26px;
}
  

  div.round-button-container > div > p{ 
    line-height: 280px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    position: absolute;
    }
   
    body > app-root > app-landing-section > div > div.landingcontent > div > div:nth-child(3) > p{
      display: inline-block;

    }
    
    div.round-button-container > div:hover {
      background-color: rgba(243, 235, 235, 0.8);
 
    }
.mainmenu a {
    display: block;
    background-color: #CCC;
    text-decoration: none;
    color: #000;
  }
  li{
    list-style-type: none;

  }

  #fancysphere{
  z-index:-1;
}
.landingcontent{
  position: absolute;
  left: 57%;

}

body > app-root > app-landing-section > div > div.landingcontent > div > button{
  /* display: table-column-group;
  vertical-align: middle;
  line-height: normal; */
  
}
a{
  font-size: 1.5em;
  font-weight: bold;
}
.landingnav{
      padding-top: 8%;
    text-align: right;
    line-height: 150px;
    

}

span{
  display: inherit;
    vertical-align: middle;
    line-height: 100px;
    position: relative;
    /* padding-bottom: 2.5%; */
    /* margin: 2%;
    margin-right: 37%; */
    
    
}
span img{
  position: absolute;
    top: 23px;
}
#span1{
  margin-right: 449px;
}

#span2{
  margin-right: 486px;
}

#span3{
  margin-right: 496px;
}
#span4{
  margin-right: 463px;

}
#span5{
  margin-right: 378px;
}

p .landingcontent{
    box-sizing: border-box;
    
    
}

.wrapper{
  width: 57%;
  display: inline-block; 
  padding-top:8%;
  position: relative;
  font-size: 24px;
}
.wrapper2{
  position: fixed;
  right: 13%;
  top: 6%;



}


/* 
.landingwrapper{
    padding: 1%;
    display: flex;
    flex-direction: row; 
} */