<div class="wrapper" *ngIf="router.url == '/'">
    <!-- <div class="lol"> -->
    <div class="landingcontent">

        <div id="buttonContainerId" class="round-button-container">
            <div (click)="goTo(1)">
                <p>Personalanfrage</p>
            </div>
            <div (click)="goTo(2)">
                <p>Bekleidung</p>
            </div>
            <div (click)="goTo(3)">
                <p>Bewerbungsformular</p>
            </div>

            <div id="expo Vita" (click)="goTo(4)">
                <p>expo Vita</p>
            </div>


        </div>
        

        <img src="assets/svg/shape27.svg" alt="expo Service " width="600" height="600">
        <div id= "circleContent" *ngIf="show">
            <p> {{texts[id].header}}</p>

                <div class= "circle">
                        <span> {{texts[id].content}}</span>
                </div>
            
            </div>
            


    </div>


    <div id="buttonContainerId2" class="landingnav" style="visibility: hidden;">

        <span id="span1" (click)="onClick(0)"><a >Was wir für Sie tun können...</a> <img src="assets/button1.png"
                alt="expo Service "></span>
        <span id="span2" (click)="onClick(1)"><a >Eventpersonal</a><img src="assets/button1.png"
                alt="expo Service "></span>
        <span id="span3" (click)="onClick(2)"><a >Veranstaltungslogistik</a><img src="assets/button1.png"
                alt="expo Service "></span>
        <span id="span4" (click)="onClick(3)"><a >Wer wir sind...</a><img src="assets/button1.png"
                alt="expo Service "></span>
        <span id="span5" (click)="onClick(4)"><a >Referenzen</a><img src="assets/button1.png" alt="expo Service "></span>

    </div> 



    <div class="wrapper2">


        <img src="assets/svg/shape6.svg" alt="expo Service " width="500px">

    </div>

</div>


