
  .mainmenu{
    background-color: #CCC;
    text-decoration: none;
    color: #000;
    width: 25%;
    order: 1;


}

div.round-button-container{
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
  top: 179px;
  height: 548px;
  width: 534px;
  font-size: 1.2em;
  transform: translateX(10px);
}
div.round-button-container > div{ 
  width: 50%;
   height: 280px; 
   float: left;
   margin: auto; 
   position: relative;
   
  }

   div.landingcontent > div > div:nth-child(1) > p{
    padding-top: 77px;
  
  padding-left: 77px;
}
div.landingcontent > div > div:nth-child(2) > p{
  padding-top: 77px;
  
  padding-left: 26px;
}

div.landingcontent > div > div:nth-child(3) > p{
  bottom: 77px;
  padding-left: 53px;

}
div.landingcontent > div > div:nth-child(4) > p{
  bottom: 77px;
  
  padding-left: 26px;
}
  

  div.round-button-container > div > p{ 
    line-height: 280px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    position: absolute;
    }
   
    body > app-root > app-landing-section > div > div.landingcontent > div > div:nth-child(3) > p{
      display: inline-block;

    }
    
    div.round-button-container > div:hover {
      background-color: rgba(243, 235, 235, 0.8);
 
    }
.mainmenu a {
    display: block;
    background-color: #CCC;
    text-decoration: none;
    color: #000;
  }
  li{
    list-style-type: none;

  }

  #fancysphere{
  z-index:-1;
}
.landingcontent{
  position: absolute;
  left: 57%;

}

body > app-root > app-landing-section > div > div.landingcontent > div > button{
  /* display: table-column-group;
  vertical-align: middle;
  line-height: normal; */
  
}
a{
  font-size: 1.5em;
  font-weight: bold;
}
.landingnav{
      padding-top: 8%;
    text-align: right;
    line-height: 150px;
    

}
#span1, #span2 , #span3, #span4 ,#span5 {
  display: inherit;
    vertical-align: middle;
    line-height: 100px;
    position: relative;
    /* padding-bottom: 2.5%; */
    /* margin: 2%;
    margin-right: 37%; */
    
    
}
span img{
  position: absolute;
    top: 23px;
}
#span1{
  margin-right: 449px;
}

#span2{
  margin-right: 486px;
}

#span3{
  margin-right: 496px;
}
#span4{
  margin-right: 463px;

}
#span5{
  margin-right: 378px;
}

p .landingcontent{
    box-sizing: border-box;
    
    
}

.wrapper{
  width: 57%;
  display: inline-block; 
  padding-top:8%;
  position: relative;
  font-size: 24px;
}

.circle {
  height: 500px;
    width: 500px;
    border-radius: 50%;
}
.circle::before {
  content: '';
  height: 100%;
  width: 50%;
  float: left;
  shape-outside: polygon(0 0, 103% 0%, 61% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0% 100%);

}
.circle > span::before {
  content: '';
  height: 100%;
  width: 50%;
  float: right;
  shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%);
}
/* .circle > span::before */

#circleContent{
  font-size: 1.1em;
  text-align: justify;

  position: absolute;
  top: 9%;
  /* left: inherit; */
  z-index: 99;
  right: 4%;

}

@media(max-width:450px){
  div.landingcontent > img {
    height: 350px;
    width: 350px;
  } 
  
  div.wrapper2{
    position: absolute;
    /* right: 13%; */
    top: 0;
    left: 8%;

  }
  div.wrapper2 > img{
    width: 350px;

  }
 

  div.landingcontent{
    top: 354%;
    left: 26%;


  }
  .landingnav{
    position: absolute;
    height: 350px;
    width: 350px;
    
    top: 91px;


    padding-top: 1%; 
    text-align: right;
    line-height: 10px;

  }

  div.round-button-container{
    top: 4%;
 
    height: 321px;
    width: 312px;
    position: absolute;
    font-size: 0.9em;
    z-index: 2;
    overflow: hidden;
    left: unset;
    border-radius: 50%;
    left: 10%;

  }

  div.round-button-container > div{ 
    width: 50%;
    height: 160px;

     float: left;
     margin: auto; 
     position: relative;
     
    }
    div.round-button-container > div > p{ 
      line-height: 80px;
      text-align: center;
      vertical-align: middle;
      font-weight: bold;
      position: absolute;
      }
  
      

   div.landingcontent > div > div:nth-child(1) > p{
    padding-top: 92px;
  
    padding-left: 46px;
}
div.landingcontent > div > div:nth-child(2) > p{
  padding-top: 92px;
  
  padding-left: 26px;
}

div.landingcontent > div > div:nth-child(3) > p{
  bottom: 77px;
  padding-left: 13px;


}
div.landingcontent > div > div:nth-child(4) > p{
  bottom: 78px;
  padding-left: 24px;
}


#span1, #span2 , #span3, #span4 ,#span5 {
  display: inherit;
    vertical-align: middle;
    line-height: 17px;
    margin-top: 18px;

    position: relative;
    /* padding-bottom: 2.5%; */
    /* margin: 2%;
    margin-right: 37%; */
    
    
}
span img{
  position: absolute;
    top: 13px;
}
#span1{
  margin-right: 255px;
}

#span2{
  margin-right: 300px;
  word-break: break-all;

}

#span3{
  margin-right: 314px;
  word-break: break-all;

}
#span4{
  margin-right: 283px;

}
#span5{
  margin-right: 226px;
}

a{
  font-size: 0.9em;
  font-weight: bold;
}
#circleContent{
  font-size: 0.7em;
  position: absolute;
  text-align: justify;

  top: 2%;
  z-index: 99;
  right: 1%;


}
.circle {
  height: 321px;
    width: 312px
}
#circleContent > p{
  z-index: 23;
    font-size: 1.0em;
    font-weight: bold;
    left: 86px;
    position: absolute;
    /* margin-bottom: 0%; */
    /* padding: 3%; */
    top: 28px;
}

.circle::before {
  content: '';
  height: 100%;
  width: 50%;
  float: left;
  shape-outside: polygon(0 0, 106% 5%, 106% 17%, 100% 7%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0% 100%);

}
.circle > span::before {
content: '';
    height: 104%;
    width: 50%;
    float: right;
    shape-outside:polygon(100% 0, 0 0, 0% 13%, 0% 17%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%);

}
}


@media(min-width:450px){
  .wrapper{
    width: 57%;
    display: inline-block;
    padding-top: 5%;
    position: relative;
    font-size: 24px;

  }


  .landingcontent{
    position: absolute;
    left: 57%;

    top: 127px;
  
  }
  .wrapper2{
    right: -53%;
    position: absolute;
    top: 10%;
  }
  
.circle::before {
  content: '';
  height: 100%;
  width: 50%;
  float: left;
  shape-outside: polygon(0 0, 106% 5%, 106% 17%, 100% 7%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0% 100%);

}
.circle > span::before {
content: '';
    height: 104%;
    width: 50%;
    float: right;
    shape-outside:polygon(100% 0, 0 0, 0% 13%, 0% 17%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%);

}
.circle {
  height: 552px;
    width: 535px;
}
#circleContent > p{
  z-index: 23;
  font-size: 1.2em;
  font-weight: bold;
  left: 124px;

  position: absolute;
  top: 37px;


}
#circleContent{

  font-size: 1.1em;
  text-align: justify;
  position: absolute;
  top: 4%;
  z-index: 99;
  right: 1%;
}

div.round-button-container{
  /* border-radius: 50%;
    
    position: fixed;
    overflow: hidden;
    z-index: 2;
    top: 152px;
    height: 548px;
    width: 534px;
    font-size: 1.2em;
    transform: translateX(61px); */


    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    z-index: 2;
    top: 25px;
    height: 548px;
    width: 534px;
    font-size: 1.2em;
    transform: translateX(61px);

}
.landingnav{
  position: absolute;
  height: 600px;
  width: 600px;
  
  top: 190px;

  left: 57%;

  padding-top: 1%; 
  text-align: right;

}

#span1, #span2 , #span3, #span4 ,#span5 {
  display: inherit;
    vertical-align: middle;
    line-height: 2em;
    margin-top: 18px;

    position: relative;
    /* padding-bottom: 2.5%; */
    /* margin: 2%;
    margin-right: 37%; */
    
    
}
span img{
  position: absolute;
    top: 13px;
}
#span1{
  white-space: nowrap;
  left: -95%;
  
  margin-right: unset;

}

#span2{
  left: -101%;
  margin-right: unset;
}

#span3{
  left: -104%;
  margin-right: unset;


}
#span4{
  left: -103%;

  margin-right: unset;

}
#span5{
  left: -101%;


  margin-right: unset;
}

a{
  font-size: 1.5em;
  font-weight: bold;
}

@media(max-width:890px){
  #span1{
    margin-right: 468px;
    left: -128px;
    white-space: unset
  }
  #span1 > img{
    top: 64px;

  }
  #span2{
    left: -223px;

    white-space: unset;
    margin-right: 398px;

  
  }
  #span3{
    left: -278px;
    white-space: unset;
    margin-right: 341px;
}

#span4{
  left: -99%;

  margin-right: unset;

}
#span5{
  left: -91%;

  margin-right: unset;
}

  
  }

@media(min-height:620px){
  div.round-button-container{
    position: absolute;
    border-radius: 50%;
    /* position: fixed; */
    /* overflow: hidden; */
    z-index: 2;
    top: 25px;
    height: 548px;
    width: 534px;
    font-size: 1.2em;
    transform: translateX(61px);
  }
}
 
}



