.info-footer{
    padding: 25px;
    margin-top: 2%;
    text-align: center;
    position: fixed;
    /* left: 32%; */
    bottom: 6%;
    width:  97.5%;

    
}
p {
    color : rgb(0,0,0);
    font-weight: 600;

}

span{
    margin-right: 1%;
}

@media(max-width:414px){
    .info-footer{
    padding: 25px;
    margin-top: 2%;
    text-align: center;
    position: fixed;
    bottom: -2%;
    /* width: 97.5%; */
    width : unset
    }

}