/* You can add global styles to this file, and also import other style files */

html > body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0 !important;
    
    background-color: rgb(113, 112, 112);
    background-image: url("/assets/svg/shape1.svg");
    
    

  }
  p{
    margin: 0;
  }
  